<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Data.Edm" version="5.6.2" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.Data.OData" version="5.6.2" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.Data.Services.Client" version="5.6.2" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="2.0.3" targetFramework="net45" userInstalled="true" />
  <package id="MsgPack.Cli" version="0.5.11" targetFramework="net45" userInstalled="true" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net45" userInstalled="true" />
  <package id="Rx-Core" version="2.2.5" targetFramework="net45" userInstalled="true" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="net45" userInstalled="true" />
  <package id="Rx-Linq" version="2.2.5" targetFramework="net45" userInstalled="true" />
  <package id="Rx-Main" version="2.2.5" targetFramework="net45" userInstalled="true" />
  <package id="Rx-PlatformServices" version="2.2.5" targetFramework="net45" userInstalled="true" />
  <package id="Stormancer.Client45.x64" version="1.0.1.2" targetFramework="net45" userInstalled="true" />
  <package id="System.Spatial" version="5.6.2" targetFramework="net45" userInstalled="true" />
  <package id="WindowsAzure.Storage" version="4.3.0" targetFramework="net45" userInstalled="true" />
</packages>