<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
 <appSettings>
   
   <add key="api" value="http://localhost:8081"/>
   
   <!--
   <add key="accountId" value="d81fc876-6094-3d92-a3d0-86d42d866b96"/>
   <add key="applicationName" value="boids-demo"/>
   <add key="sceneName" value="main-session"/>
   -->
   <!--<add key="accountId" value="997bc6ac-9021-2ad6-139b-da63edee8c58"/>
   <add key="applicationName" value="boids-test"/>
   <add key="sceneName" value="main"/>-->
   
   <add key="accountId" value="test"/>
   <add key="applicationName" value="Boids"/>
   <add key="sceneName" value="main"/>
   
 </appSettings>
</configuration>
